$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body { padding-top: 70px; }

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}